@using BVNetwork.ContentAreaInspector
@using EPiServer.Shell
@model BVNetwork.ContentAreaInspector.ContentAreaInspectorViewModel
@{
    ViewBag.Title = "title";
    Layout = null;
}
@*<script src="@Paths.ToResource("contentareainspector","ClientResources/scripts/rasterizeHTML.allinone.js")"></script>*@
@*<script src="@Paths.ToResource(typeof(ContentAreaInspectorController).GetType(),"/ClientResources/scripts/rasterizeHTML.allinone.js")"></script>*@

<div class="inspector_container">
    <div class="inspector_main">
        <ul>
            <li>Type: @Model.Content.Type</li>
            <li>Status: @Model.Content.Status</li>
        </ul>
    </div>
    <ul class="inspector">
        @RenderContentArea(Model.ContentAreaItems)
        @if (Model.ContentReferenceItems != null && Model.ContentReferenceItems.Any())
        {
            foreach (var contentReference in Model.ContentReferenceItems)
            {
                @RenderContent(contentReference.ContentReferenceItem, null)
            }
        }
    </ul>
</div>


@helper RenderContentArea(List<ContentAreaInspectorViewModel.ContentAreaItemViewModel> items)
{
var previousContentGroup = "";
foreach (var item in items)
{
        <li class="inspector_area">
            <div class="inspector_property">[Content area]<i> @item.Name</i> <text> value:</text></div>
            <div class="inspector_content_area">
                <div>
                    @foreach (var subItem in item.ContentAreaItems)
                    {
                        @RenderContent(subItem, previousContentGroup)
                        {
                            previousContentGroup = subItem.ContentGroup;
                        }
                    }

                </div>
            </div>
        </li>
}
}


@helper RenderContent(ContentAreaInspectorViewModel inspectorViewModel, string previousContentGroup)
{
if (!string.IsNullOrEmpty(previousContentGroup) && string.IsNullOrEmpty(inspectorViewModel.ContentGroup))
{
        @:</div>
}
if (string.IsNullOrEmpty(previousContentGroup) && !string.IsNullOrEmpty(inspectorViewModel.ContentGroup))
{

        @:<div class="inspector_group">
     }
    <ul class="inspector">
        @if (!string.IsNullOrEmpty(inspectorViewModel.ContentGroup))
        {
            <li class="inspector_green">
                <i>
                    <span class="epi-iconUsers dijitFolderOpened inspector_visitor_group"></span>
                    <span class="inspector_black">Visible for:</span>
                    @if (inspectorViewModel.VisitorGroupsNames != null && inspectorViewModel.VisitorGroupsNames.Any())
                    {

                        for (int i = 0; i < inspectorViewModel.VisitorGroupsNames.Count; i++)
                        {
                            var visitorGroup = inspectorViewModel.VisitorGroupsNames[i];
                            @visitorGroup
                            if (i != inspectorViewModel.VisitorGroupsNames.Count - 1)
                            {
                                <span class="inspector_black">and</span>
                            }
                        }
                    }
                    else
                    {
                        <text>Everyone else </text>
                    }
                </i>
            </li>
        }
        @if (inspectorViewModel.Content.MainType == MainContentType.Image)
        {
            <img width="48" height="48" src="@inspectorViewModel.Content.ThumbnailUrl" />
        }
        else if (inspectorViewModel.Content.MainType == MainContentType.Block)
        {
            <span class="epi-iconObjectSharedBlock epi-icon--large inspector_block"></span>
        }
        else if (inspectorViewModel.Content.MainType == MainContentType.Page)
        {
            <span class="epi-iconObjectPage epi-icon--large inspector_block"></span>
        }
        <li><b>@inspectorViewModel.Content.Name</b> <a target="_blank" class="epi-visibleLink" href="@inspectorViewModel.Content.EditUrl">edit </a></li>
        <li>

            <div class="inspector_preview_button" data-id="@inspectorViewModel.Content.Id" data-previewUrl="@inspectorViewModel.Content.PreviewUrl">
                Click mdde!


                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">

                    @*rasterizeHtml.drawURL('hello',document.getElementById('canvas'));*@

                    @*dojo.xhrGet({
                        url: "@Url.Action("Search")",

                        form: "searchForm",
                        handleAs: "text",
                        timeout: 5000,

                        load: function(response, ioArgs){
                        dojo.byId("results").innerHTML = response;

                        // return the response for succeeding callbacks
                        return response;
                        },

                        error: function(response, ioArgs){
                        dojo.byId("results").innerHTML = "Form submission failed.";
                        return response;
                        }
                        });*@
                </script>
            </div>
        </li>
        <li>Type: @inspectorViewModel.Content.Type</li>
        <li>Status: @inspectorViewModel.Content.Status</li>

        @RenderContentArea(inspectorViewModel.ContentAreaItems)
        @if (inspectorViewModel.ContentReferenceItems != null && inspectorViewModel.ContentReferenceItems.Any())
        {
            foreach (var contentReferenceViewModel in inspectorViewModel.ContentReferenceItems)
            {
                <li>
                    <div class="inspector_property">
                        [Content reference]<i> @contentReferenceViewModel.Name</i> value:
                        @RenderContent(contentReferenceViewModel.ContentReferenceItem, null)
                    </div>
                </li>
            }
        }
    </ul>


}

@*<script>
        $(document).on("click", '.inspector_preview_button', function (event) {
            alert("new link clicked!");
            //onClick = "alert('nepe');rasterizeHTML.drawHTML('<h1>hello<h2>',document.getElementById('canvas'))"
        });
    </script>*@
